<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhyonk.user.mapper.UserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap"
		type="cn.zhyonk.entity.User">
		<id column="user_id" property="user_id" />
		<result column="open_id" property="open_id" />
		<result column="user_phone" property="user_phone" />
		<result column="role_id" property="role_id" />
		<result column="user_name" property="user_name" />
		<result column="sex" property="sex" />
		<result column="status" property="status" />
		<result column="is_authorize" property="is_authorize" />
		<result column="position_id" property="position_id" />
		<result column="tag_list" property="tag_list" />
		<result column="praise_average" property="praise_average" />
		<result column="create_time" property="create_time" />
		<result column="update_time" property="update_time" />
		<result column="is_del" property="is_del" />
		<result column="password" property="password" />
	</resultMap>
	
	<resultMap id="UserCard"
		type="cn.zhyonk.entity.IndexUserCardInfo">
		<result column="open_id" property="openId" />
		<result column="user_phone" property="userPhone" />
		<result column="user_name" property="userName" />
		<result column="headImgUrl" property="headImgUrl" />
		<result column="position_name" property="positionName" />
		<result column="tag_list" property="tagList" />
		<result column="praise_average" property="praiseAverage" />
		<result column="product_price" property="productPrice" />
		<result column="sales" property="sales" />
		<result column="record" property="record" />
		<result column="workRecordCount" property="workRecordCount" />
	</resultMap>
	
	<select id="checkLogin" parameterType="java.lang.String" resultType="java.lang.String">
		select open_id From user WHERE 
			user_phone = #{phone}
		AND
		 	password = #{password}
	</select>
	
	<select id="checkUser" parameterType="java.lang.String" resultType="cn.zhyonk.entity.User">
		select * From user WHERE 
			open_id = #{openid}
	</select>
	
	<select id="selectByOpenId" parameterType="java.lang.String" resultType="cn.zhyonk.entity.User">
		select * From user WHERE 
			open_id = #{openid}
	</select>
	
	<select id="loadRoles" parameterType="java.lang.String" resultType="java.lang.String">
		select name FROM role,user_role WHERE role.id = user_role.role_id and user_role.open_id = #{openid}
	</select>
	
	<select id="loadPermissions" parameterType="java.lang.String" resultType="cn.zhyonk.entity.Permission">
		select permission.* 
		FROM
		user_role,role_permission,permission 
		WHERE 
		role_permission.role_id = user_role.role_id 
		and
		role_permission.per_id =permission.id 
		and 
		user_role.open_id = #{openid}
	</select>
	
	<select id='getWorkUserList' resultMap="UserCard">
		SELECT 
		open_id,user_phone,
		user_name,local_user.headImgUrl,position.position_name,tag_list,praise_average,product.product_price,sales,
		count(reservation_record.user_id) as 'record',
		count(works_show.user_id) as workRecordCount
		from 
		user,position,position_project_realtion,product,works_show,reservation_record,local_user
		WHERE 
		user.position_id =position.position_id 
		AND position_project_realtion.position_id = position.position_id 
		and position_project_realtion.project_id = product.product_id 
		and user.open_id = works_show.user_id
		and works_show.user_id = user.open_id
		and user.open_id = local_user.openId
	</select>
	
</mapper>